/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    *,
    *::before,
    *::after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        
    }

    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }
    
    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #03300e;
        overflow: hidden;
    }
    
    .background span {
        width: 1vmin;
        height: 1vmin;
        border-radius: 1vmin;
        backface-visibility: hidden;
        position: absolute;
        animation: move;
        animation-duration: 37;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    
    .background span:nth-child(0) {
        color: #ffffff;
        top: 12%;
        left: 25%;
        animation-duration: 131s;
        animation-delay: -62s;
        transform-origin: 1vw 25vh;
        box-shadow: 2vmin 0 0.9598951086865506vmin currentColor;
    }
    .background span:nth-child(1) {
        color: #ffffff;
        top: 70%;
        left: 42%;
        animation-duration: 67s;
        animation-delay: -111s;
        transform-origin: 6vw 24vh;
        box-shadow: 2vmin 0 1.0430237840130852vmin currentColor;
    }
    .background span:nth-child(2) {
        color: #ffffff;
        top: 70%;
        left: 84%;
        animation-duration: 112s;
        animation-delay: -2s;
        transform-origin: 15vw -6vh;
        box-shadow: 2vmin 0 1.189556338260204vmin currentColor;
    }
    .background span:nth-child(3) {
        color: #ffffff;
        top: 39%;
        left: 68%;
        animation-duration: 41s;
        animation-delay: -96s;
        transform-origin: 3vw -1vh;
        box-shadow: -2vmin 0 0.6929993037501108vmin currentColor;
    }
    .background span:nth-child(4) {
        color: #ffffff;
        top: 55%;
        left: 3%;
        animation-duration: 12s;
        animation-delay: -83s;
        transform-origin: 16vw 6vh;
        box-shadow: 2vmin 0 0.43406097632804275vmin currentColor;
    }
    .background span:nth-child(5) {
        color: #ffffff;
        top: 50%;
        left: 50%;
        animation-duration: 23s;
        animation-delay: -27s;
        transform-origin: -5vw 18vh;
        box-shadow: -2vmin 0 0.7636779839755621vmin currentColor;
    }
    .background span:nth-child(6) {
        color: #ffffff;
        top: 35%;
        left: 52%;
        animation-duration: 25s;
        animation-delay: -110s;
        transform-origin: -14vw -22vh;
        box-shadow: -2vmin 0 0.34960116598475843vmin currentColor;
    }
    .background span:nth-child(7) {
        color: #ffffff;
        top: 69%;
        left: 24%;
        animation-duration: 79s;
        animation-delay: -85s;
        transform-origin: 23vw 20vh;
        box-shadow: -2vmin 0 0.9648458517418461vmin currentColor;
    }
    .background span:nth-child(8) {
        color: #ffffff;
        top: 99%;
        left: 18%;
        animation-duration: 120s;
        animation-delay: -26s;
        transform-origin: 12vw 11vh;
        box-shadow: -2vmin 0 1.148842562683405vmin currentColor;
    }
    .background span:nth-child(9) {
        color: #ffffff;
        top: 47%;
        left: 87%;
        animation-duration: 85s;
        animation-delay: -64s;
        transform-origin: 18vw -9vh;
        box-shadow: 2vmin 0 0.7557516981587302vmin currentColor;
    }
    .background span:nth-child(10) {
        color: #ffffff;
        top: 8%;
        left: 12%;
        animation-duration: 35s;
        animation-delay: -44s;
        transform-origin: -4vw -13vh;
        box-shadow: -2vmin 0 0.6554671786411634vmin currentColor;
    }
    .background span:nth-child(11) {
        color: #ffffff;
        top: 36%;
        left: 39%;
        animation-duration: 44s;
        animation-delay: -117s;
        transform-origin: 9vw 21vh;
        box-shadow: 2vmin 0 0.7968591218021854vmin currentColor;
    }
    .background span:nth-child(12) {
        color: #ffffff;
        top: 81%;
        left: 62%;
        animation-duration: 125s;
        animation-delay: -60s;
        transform-origin: -7vw 25vh;
        box-shadow: 2vmin 0 0.6202119561466157vmin currentColor;
    }
    .background span:nth-child(13) {
        color: #ffffff;
        top: 93%;
        left: 35%;
        animation-duration: 76s;
        animation-delay: -105s;
        transform-origin: 8vw -3vh;
        box-shadow: -2vmin 0 0.6217401722919773vmin currentColor;
    }
    .background span:nth-child(14) {
        color: #ffffff;
        top: 73%;
        left: 75%;
        animation-duration: 92s;
        animation-delay: -89s;
        transform-origin: -20vw -5vh;
        box-shadow: -2vmin 0 0.454207213073192vmin currentColor;
    }
    .background span:nth-child(15) {
        color: #ffffff;
        top: 45%;
        left: 90%;
        animation-duration: 103s;
        animation-delay: -31s;
        transform-origin: 9vw 12vh;
        box-shadow: 2vmin 0 0.38213410290020233vmin currentColor;
    }
    


                /* POP UP ALERT*/
    
   
        
        .popup{
            background-color: rgba(255, 255, 255, 0.903);
            width: 329px;
            padding: 30px 50px;
            position: fixed;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            border-radius: 8px;
            font-family:'Courier New', Courier, monospace;
            z-index: 9;
            display: none;
        }

   

        .popup button{
            display: block;
            margin: 0 0 0 auto;
            background-color: transparent;
            font-size: 30px;
            color: blue;
            border: none;
            outline: none;
            cursor: pointer;
  
        }

        .popup button:hover{
            color: rgb(246, 0, 0);
        }

        .popup h2{
            text-align: center;
        }

        .popup p{
            font-size: 14px;
            text-align: center;
            margin: 20px 0;
            color: black;
            padding-top: 1em;
            font-size: 1.2em;
        }


        #red-words{
            color: red;
            font-weight: bold;
        }

        #white-words{
            color: green;
            font-weight: bold;

        }






                /*NAV */
    .nav{
        padding-top: 1.5em;
        padding-right: 0em;
        position: fixed;
        right: 0;
        z-index: 9;
        

        font-family: "Macondo", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .nav-link{
        color: white;
        font-size: 4.5vw;
    }

    .active{
        background-color: rgb(203, 30, 30);
        border-radius: 10%;
    }
    .nav .active:hover{
        color: white;
        background-color: rgb(47, 47, 231);

    }

    .nav .hov:hover{
        color: red;

    }

    .fix-img{
        position: fixed;
        width: 50vw;
        display: flex;
        justify-content: center;
        top: 4em;
        
        
    }


                 /* HEAD */

    h1{
    text-align: center;
    padding-top: 4em;
    filter: drop-shadow(4px 10px 2px black);

        font-family: "Sacramento", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 3.5em;
        color: white;
      
      
    }

                 /* CATERING MENU */
    menu{
        list-style-type: none;
        position: relative;
        padding-top: 2em;
        padding-bottom: 3em;
        text-align: center;

    }
    menu a{
        color: rgb(252, 252, 252);
        filter: drop-shadow(4px 7px 2px black);
        text-decoration: none;

        font-family: "Macondo", cursive;
        font-weight: 400;
        font-style: normal;

        font-size: 1.5em;
    }

    menu li{
        padding: 5px;
    }

    menu a:hover{
        color: rgb(92, 144, 241);
    }

            /* FOOTER */
   
    footer{
        display: inline-flex;
        justify-content: center;
        position: relative;
        top: 50%;
        left: 0%;
        height: 10px;
        padding-top: 2em;
        padding-bottom: 5em;
        background-color: rgba(128, 128, 128, 0.097);
        width: 100%;
        
    }

    .bi-facebook{
        height: auto;
        width: 15vw;
        position: relative;
        color: #1877F2;
        right: 2em;
    }
    .bi-facebook:hover{
        color: rgb(2, 80, 183);

    }

    .bi-tiktok{
        height: auto;
        width: 15vw; 
       color: rgb(0, 0, 0);
       filter: drop-shadow( 2px 1px 1px aqua);
       position: relative;
       left: 2em;
    }

    .bi-tiktok:hover{
        color: #ff0050;

    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        display: none;
    }
}