/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{ 
        background-color: darkred;
    }
    @keyframes move {
      100% {
          transform: translate3d(0, 0, 1px) rotate(360deg);
      }
  }
  
  .background {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: #570a0a;
      overflow: hidden;
  }
  
  .background span {
      width: 1vmin;
      height: 1vmin;
      border-radius: 1vmin;
      backface-visibility: hidden;
      position: absolute;
      animation: move;
      animation-duration: 37;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
  }
  
  
  .background span:nth-child(0) {
      color: #ffffff;
      top: 61%;
      left: 3%;
      animation-duration: 16s;
      animation-delay: -54s;
      transform-origin: 15vw -8vh;
      box-shadow: -2vmin 0 0.9423750826201476vmin currentColor;
  }
  .background span:nth-child(1) {
      color: #ffffff;
      top: 100%;
      left: 77%;
      animation-duration: 132s;
      animation-delay: -45s;
      transform-origin: -10vw -7vh;
      box-shadow: -2vmin 0 0.5882052526879873vmin currentColor;
  }
  .background span:nth-child(2) {
      color: #ffffff;
      top: 41%;
      left: 51%;
      animation-duration: 10s;
      animation-delay: -4s;
      transform-origin: -4vw -14vh;
      box-shadow: 2vmin 0 0.7235928169735515vmin currentColor;
  }
  .background span:nth-child(3) {
      color: #ffffff;
      top: 3%;
      left: 44%;
      animation-duration: 26s;
      animation-delay: -59s;
      transform-origin: -5vw 14vh;
      box-shadow: -2vmin 0 0.7695782347125852vmin currentColor;
  }
  .background span:nth-child(4) {
      color: #ffffff;
      top: 42%;
      left: 60%;
      animation-duration: 33s;
      animation-delay: -65s;
      transform-origin: 17vw -15vh;
      box-shadow: 2vmin 0 0.30321096702198136vmin currentColor;
  }
  .background span:nth-child(5) {
      color: #ffffff;
      top: 39%;
      left: 4%;
      animation-duration: 20s;
      animation-delay: -69s;
      transform-origin: 1vw 17vh;
      box-shadow: -2vmin 0 1.0238661248438765vmin currentColor;
  }
  .background span:nth-child(6) {
      color: #ffffff;
      top: 87%;
      left: 60%;
      animation-duration: 120s;
      animation-delay: -70s;
      transform-origin: 8vw -10vh;
      box-shadow: -2vmin 0 0.8024703726789297vmin currentColor;
  }
  .background span:nth-child(7) {
      color: #ffffff;
      top: 39%;
      left: 81%;
      animation-duration: 28s;
      animation-delay: -117s;
      transform-origin: -9vw -2vh;
      box-shadow: 2vmin 0 0.7144793609448461vmin currentColor;
  }
  .background span:nth-child(8) {
      color: #ffffff;
      top: 64%;
      left: 15%;
      animation-duration: 56s;
      animation-delay: -129s;
      transform-origin: 0vw -8vh;
      box-shadow: 2vmin 0 1.2425429603455203vmin currentColor;
  }
  .background span:nth-child(9) {
      color: #ffffff;
      top: 100%;
      left: 65%;
      animation-duration: 72s;
      animation-delay: -38s;
      transform-origin: -21vw 15vh;
      box-shadow: -2vmin 0 0.5260515707027933vmin currentColor;
  }
  .background span:nth-child(10) {
      color: #ffffff;
      top: 25%;
      left: 74%;
      animation-duration: 75s;
      animation-delay: -69s;
      transform-origin: 1vw 3vh;
      box-shadow: 2vmin 0 0.6787059768869854vmin currentColor;
  }
  .background span:nth-child(11) {
      color: #ffffff;
      top: 47%;
      left: 92%;
      animation-duration: 60s;
      animation-delay: -92s;
      transform-origin: -22vw 5vh;
      box-shadow: -2vmin 0 0.632313483769605vmin currentColor;
  }
  .background span:nth-child(12) {
      color: #ffffff;
      top: 55%;
      left: 45%;
      animation-duration: 86s;
      animation-delay: -54s;
      transform-origin: -12vw -1vh;
      box-shadow: -2vmin 0 0.6783571638638779vmin currentColor;
  }
  .background span:nth-child(13) {
      color: #ffffff;
      top: 13%;
      left: 56%;
      animation-duration: 118s;
      animation-delay: -8s;
      transform-origin: 7vw 10vh;
      box-shadow: -2vmin 0 0.9867792955967285vmin currentColor;
  }
  .background span:nth-child(14) {
      color: #ffffff;
      top: 47%;
      left: 38%;
      animation-duration: 118s;
      animation-delay: -108s;
      transform-origin: -17vw -24vh;
      box-shadow: -2vmin 0 0.43105054018535216vmin currentColor;
  }
  .background span:nth-child(15) {
      color: #ffffff;
      top: 36%;
      left: 89%;
      animation-duration: 79s;
      animation-delay: -18s;
      transform-origin: 25vw 9vh;
      box-shadow: 2vmin 0 0.7296534977308999vmin currentColor;
  }
  
  
  .back-img{
    height: auto;
    width: 50%;
    top: 100px;
    position: fixed;
  }

  /* NAVIGATION */
  /*NAV */
 
 .nav{
  position: fixed;
  right: 30px;
  left: 0;
  font-size: 1em;
  z-index: 9;
  display: inline-flex;


 }

 .nav-link{
  margin: 1em;
  list-style-type: none;
  color: white;  
  position: relative;
  top: 10%;
  font-size: 5vw;

  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
  
}



  .nav-item{
    background-color: #000000;
    filter: drop-shadow(2px 2px 4px black);
    width: 100%;
    height: 20%;

  }

  .nav-item:hover{
    background-color: rgb(30, 30, 209);
  }

 .nav a, li{
  list-style-type: none;
  text-decoration: none;

 }



    

             /* HEAD */

        .MenuHead{
            position: relative;
            padding-top: 4em;
            filter: drop-shadow( 3px 3px 4px black);
        }

       .MenuHead h1{
        position: relative;
        font-size: 8vw;
        text-align: center;
        color: rgb(255, 255, 255);

          font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
       } 

   
    
              /* MENU */

       menu{
        position: relative;
        padding-top: 10px;
        padding-left: 0%;
        font-size: 6vw;   
     }

       menu a{
        color:  rgb(192, 203, 31);
        display: flex;
        justify-content: left;
        padding-left: 4em;
        text-decoration: none;
    
         font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
      }

    menu a:hover{
      color: rgb(127, 170, 255);
    }

    .bi{
      position: relative;
      padding-left: 0.2em;
      color: white;

    }

      /* HOURS OF OPERATION */

    

    .HoursOfOperation{
      position: relative;
      padding-top:  0.5em;
      font-size: 6vw;

    }

    .HoursOfOperation h3{
      color: rgb(241, 241, 241);
      filter: drop-shadow( 3px 3px 4px black);
      text-align: center;

        font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
    }
    .HoursOfOperation li{
      text-align: left;
      color: rgb(231, 225, 225);
      position: relative;
      padding-left: 1.5em;
      

       font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
      
    }

    #color-x{
       color:  rgb(192, 203, 31);
 

       
         }

      #delivery{
        color: rgb(240, 240, 240);
        filter: drop-shadow(1px 1px 10px yellow);
        position: relative;
        padding-left: 7%;
        padding-top: 1em;


      }


        /* CONTACT LOCATION */
        
        .Contact{
          display: flex;
          justify-content: space-evenly;
    
        }

        .Contact .info{
            text-align: center;
            font-size: 6vw;
          padding-left: 15%;
        } 
        .Contact .Location{
          padding-right: 15%;
        }

        .tel, .GoogleMap{
            list-style-type: none;
            color: rgb(212, 212, 28);
            text-decoration: none;
            position: relative;
        }

        .Contact a:hover{
          color: aquamarine;
        }

        /* FOOTER */

        footer{
          position: absolute;
          top: 200vw;
          left: 0;
          right: 0;
          height: 4em;
          padding-left: 20%;
          padding-bottom: 2em;
          background-color: #000000;
        }

        footer .tiktok img{
          width: 95px;
          height: auto;
          position: absolute;
          top: 1em;

        }

          footer .facebook img{
            position: relative;
            width: 50px;
            height: auto;
            position: absolute;
            right: 20%;
            top: 1em;
          }



  }







  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    body{ 
      background-color: darkred;
  }
  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #570a0a;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 37;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffffff;
    top: 61%;
    left: 3%;
    animation-duration: 16s;
    animation-delay: -54s;
    transform-origin: 15vw -8vh;
    box-shadow: -2vmin 0 0.9423750826201476vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 100%;
    left: 77%;
    animation-duration: 132s;
    animation-delay: -45s;
    transform-origin: -10vw -7vh;
    box-shadow: -2vmin 0 0.5882052526879873vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffffff;
    top: 41%;
    left: 51%;
    animation-duration: 10s;
    animation-delay: -4s;
    transform-origin: -4vw -14vh;
    box-shadow: 2vmin 0 0.7235928169735515vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffffff;
    top: 3%;
    left: 44%;
    animation-duration: 26s;
    animation-delay: -59s;
    transform-origin: -5vw 14vh;
    box-shadow: -2vmin 0 0.7695782347125852vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 42%;
    left: 60%;
    animation-duration: 33s;
    animation-delay: -65s;
    transform-origin: 17vw -15vh;
    box-shadow: 2vmin 0 0.30321096702198136vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffffff;
    top: 39%;
    left: 4%;
    animation-duration: 20s;
    animation-delay: -69s;
    transform-origin: 1vw 17vh;
    box-shadow: -2vmin 0 1.0238661248438765vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffffff;
    top: 87%;
    left: 60%;
    animation-duration: 120s;
    animation-delay: -70s;
    transform-origin: 8vw -10vh;
    box-shadow: -2vmin 0 0.8024703726789297vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffffff;
    top: 39%;
    left: 81%;
    animation-duration: 28s;
    animation-delay: -117s;
    transform-origin: -9vw -2vh;
    box-shadow: 2vmin 0 0.7144793609448461vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffffff;
    top: 64%;
    left: 15%;
    animation-duration: 56s;
    animation-delay: -129s;
    transform-origin: 0vw -8vh;
    box-shadow: 2vmin 0 1.2425429603455203vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffffff;
    top: 100%;
    left: 65%;
    animation-duration: 72s;
    animation-delay: -38s;
    transform-origin: -21vw 15vh;
    box-shadow: -2vmin 0 0.5260515707027933vmin currentColor;
}
.background span:nth-child(10) {
    color: #ffffff;
    top: 25%;
    left: 74%;
    animation-duration: 75s;
    animation-delay: -69s;
    transform-origin: 1vw 3vh;
    box-shadow: 2vmin 0 0.6787059768869854vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffffff;
    top: 47%;
    left: 92%;
    animation-duration: 60s;
    animation-delay: -92s;
    transform-origin: -22vw 5vh;
    box-shadow: -2vmin 0 0.632313483769605vmin currentColor;
}
.background span:nth-child(12) {
    color: #ffffff;
    top: 55%;
    left: 45%;
    animation-duration: 86s;
    animation-delay: -54s;
    transform-origin: -12vw -1vh;
    box-shadow: -2vmin 0 0.6783571638638779vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffffff;
    top: 13%;
    left: 56%;
    animation-duration: 118s;
    animation-delay: -8s;
    transform-origin: 7vw 10vh;
    box-shadow: -2vmin 0 0.9867792955967285vmin currentColor;
}
.background span:nth-child(14) {
    color: #ffffff;
    top: 47%;
    left: 38%;
    animation-duration: 118s;
    animation-delay: -108s;
    transform-origin: -17vw -24vh;
    box-shadow: -2vmin 0 0.43105054018535216vmin currentColor;
}
.background span:nth-child(15) {
    color: #ffffff;
    top: 36%;
    left: 89%;
    animation-duration: 79s;
    animation-delay: -18s;
    transform-origin: 25vw 9vh;
    box-shadow: 2vmin 0 0.7296534977308999vmin currentColor;
}



/* NAVIGATION */
/*NAV */

.nav{
position: fixed;
left: 0;
right: 30px;
font-size: 5vw;
z-index: 9;
display: inline-flex;




}

.nav-link{
margin: 1em;
list-style-type: none;
color: white;  
position: relative;
top: 10%;
font-size: 5vw;

font-family: "Macondo", cursive;
font-weight: 400;
font-style: normal;

}



.nav-item{
  background-color: #000000;
  filter: drop-shadow(2px 2px 4px black);
  width: 100%;
  height: 20%;


}

.nav-item:hover{
  background-color: rgb(30, 30, 209);
}

.nav a, li{
list-style-type: none;
text-decoration: none;

}



  

           /* HEAD */

      .MenuHead{
          position: relative;
          padding-top: 15em;
          filter: drop-shadow( 3px 3px 4px black);
      }

     .MenuHead h1{
      position: relative;
      font-size: 8vw;
      text-align: center;
      color: rgb(255, 255, 255);

        font-family: "Handlee", cursive;
font-weight: 400;
font-style: normal;
     } 

 
  
            /* MENU */

     menu{
      position: relative;
      padding-top: 10px;
      padding-left: 0%;
      font-size: 6vw;   
   }

     menu a{
      color:  rgb(192, 203, 31);
      display: flex;
      justify-content: left;
      padding-left: 4em;
      text-decoration: none;
  
       font-family: "Macondo", cursive;
font-weight: 400;
font-style: normal;
    }

  menu a:hover{
    color: rgb(127, 170, 255);
  }

  .bi{
    position: relative;
    padding-left: 0.2em;
    color: white;

  }

    /* HOURS OF OPERATION */

  

  .HoursOfOperation{
    position: relative;
    padding-top:  0.5em;
    font-size: 6vw;

  }

  .HoursOfOperation h3{
    color: rgb(241, 241, 241);
    filter: drop-shadow( 3px 3px 4px black);
    text-align: center;

      font-family: "Handlee", cursive;
font-weight: 400;
font-style: normal;
  }
  .HoursOfOperation li{
    text-align: left;
    color: rgb(231, 225, 225);
    position: relative;
    padding-left: 20vw;
    

     font-family: "Macondo", cursive;
font-weight: 400;
font-style: normal;
    
  }

  #color-x{
     color:  rgb(192, 203, 31);


     
       }

    #delivery{
      color: rgb(240, 240, 240);
      filter: drop-shadow(1px 1px 10px yellow);
      position: relative;
      padding-left: 15vw;
      padding-top: 1em;


    }


      /* CONTACT LOCATION */
      
      .Contact{
        display: flex;
        justify-content: space-evenly;
  
      }

      .Contact .info{
          text-align: center;
          font-size: 6vw;
        padding-left: 15%;
      } 
      .Contact .Location{
        padding-right: 15%;
      }

      .tel, .GoogleMap{
          list-style-type: none;
          color: rgb(212, 212, 28);
          text-decoration: none;
          position: relative;
      }

      .Contact a:hover{
        color: aquamarine;
      }

      /* FOOTER */

      footer{
        position: absolute;
        top: 200vw;
        left: 0;
        right: 0;
        height: 6em;
        padding-left: 20%;
        padding-bottom: 2em;
        background-color: #000000;
      }

      footer .tiktok img{
        width: 150px;
        height: auto;
        position: absolute;
        top: 1em;

      }

        footer .facebook img{
          position: relative;
          width: 90px;
          height: auto;
          position: absolute;
          right: 20%;
          top: 1em;
        }



  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body{
      display: none;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body{
      display: none;
    }  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body{
      display: none;
    }  }